header{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:150px;
}

header img{
    border-radius:15px;
}

nav a{
    display:block;
    padding:20px;
    background-color:blue;
    color:white;
    border-radius:15px;
}

nav{
    display:flex;
    justify-content:space-around;
    width:500px;
}

main{
    align:20px;
}
main article{
    display:flex;
    flex-direction:column;
    background-color:gray;
    border-radius:15px;
    padding:15px;
    width:205px;
}

main img{
    border-radius:10px;
}

main section{
    display:flex;
    justify-content:space-around;
    align-items: center;

}

article{
    margin:15px;
    text-align:center;
    position: relative;
}

.item_button{
    position: absolute;
    top: 0px;
    left: 0px;
    width:200px;
    height:100%;
    opacity:0;
}

article:hover{
    transform:scale(1.2);
    transition:2s;
}
